
<!DOCTYPE html>
<html>
<head>
  <title>News App</title>
  <style>
  img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>
</head>
<body>
<%
for(var i=0; i< content.articles.length ; i++ ){
    %>
<p> <b> Author </b>: <%= content.articles[i].author %>   </p>
<p> <b> Title </b>: <%= content.articles[i].title %>  </p>
<p> <b> Description </b>: <%= content.articles[i].description %>  </p>
<p> <b> Source </b>: <%= content.articles[i].url %>  </p>

<img class="center" src=<%= content.articles[i].urlToImage %> alt="image"  width="400" height="379" >
<p> <b> Time </b>: <%= content.articles[i].publishedAt %> <br />------------------------------------
    <br /><br /> </p>
<% } %>
</body>
</html>